*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0e8784;
    --secondary-color: #333d4b;
    --pale-orange-color: #fdd6ba;
    --ligh-cream-bg-color: #fefcf7;
    --gray-color: #83888f;
    --main-btn-hover-color: #66d2cf;
    --btn-disabled-color: #e2dedb;
    --option-hover-color: #fdd6ba;
    --option-default-color: #f4f1eb;
    /* fonts */
    --main-font: 'Barlow', 'Arial', sans-serif;
    --secondary-font: 'Fraunces 9pt', serif;
    /* --big-title-size:  */
    --big-title-size: 15rem;
    --big-title-line: 0.48;
    /* H1 */
    --h1-size: 7.2rem;
    --h1-line: 1;
    /* H2 */
    --h2-size: 4rem;
    --h2-line: 1.2;
    /* H3 */
    --h3-size: 3.2rem;
    --h3-line: 1.12;
    /* H4 */
    --h4-size: 2.4rem;
    --h4-line: 1.33;
    --body-font-size: 1.6rem;
    --body-line: 1.62;
    /* nav */
    --nav-size: 1.2rem;
    --nav-line: 1.25;
}

html {
    height: 100%;
    font-size: 62.5%;
}

ul,
li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--main-font), 'Arial', sans-serif;
    font-size: var(--body-font-size);
    line-height: var(--body-line);
    color: var(--secondary-color);
    background-color: var(--ligh-cream-bg-color);
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

.btn {
    color: var(--ligh-cream-bg-color);
    font-size: 1.8rem;
    line-height: 1.39;
    font-family: var(--secondary-font);
    font-weight: 900;
    padding: 1.5rem 3.1rem;
    border-radius: 6px;
    background: var(--primary-color);
    display: inline-block;
}


/* HEADER */

.header {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav__list {
    display: flex;
}

.sitenav__item:not(:last-child) {
    margin-right: 3.3rem;
}

.sitenav__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--nav-size);
    line-height: var(--nav-line);
    color: var(--gray-color);
}

.sitenav__link:hover {
    color: var(--secondary-color);
}

.toggele-btn {
    display: none;
    background-color: transparent;
    border: 0;
}

.toggle-btn__image {
    width: 15px;
    height: 15px;
}


/* MAIN */

.main {
    flex-grow: 1;
}

.hero {}

.hero__wrapper {
    background: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 11.6rem 8.5rem;
    border-radius: 10px;
}

.hero__container {
    margin-bottom: 13.6rem;
}

.hero__info {
    width: 493px;
}

.hero__title {
    color: var(--ligh-cream-bg-color);
    font-family: var(--secondary-font);
    font-size: var(--h1-size);
    line-height: var(--h1-line);
    margin-bottom: 3.2rem;
}

.hero__text-wrapper {
    width: 440px;
}

.hero__text {
    color: var(--ligh-cream-bg-color);
    margin-bottom: 5.6rem;
}

.hero__btn:hover {
    background-color: var(--main-btn-hover-color);
}

.collection {
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    background-image: url(../images/png/collection_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -15px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 30px;
    padding: 0 6rem;
    padding-top: 126px;
}

.collection__card {
    /* margin-top: 126px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.collection__img {
    /* margin-left: 2.5rem; */
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__info h3 {
    margin-top: 72px;
    margin-bottom: 24px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
    color: var(--secondary-color);
}

.card__info p {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem;
    text-align: center;
    color: var(--secondary-color);
}


/* FOOTER */


/* MEDIA */

@media (max-width: 1330px) {
    .collection__img {
        margin-left: -4rem;
    }
}

@media (max-width: 768px) {
     :root {
        --h1-size: 4.8rem;
    }
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .hero__wrapper {
        padding: 10.3rem 5.8rem;
    }
    .hero__info {
        width: 398px;
    }
    .collection {
        grid-template-columns: auto;
        place-content: center;
    }
    .collection__card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* width: 573px; */
        margin-bottom: 5rem;
        /* margin-left: -5rem; */
    }
    .card__info {
        margin-top: -7rem;
        width: 282px;
    }
    .collection__img {
        margin-left: 2rem;
    }
    .card__info h3 {
        text-align: left;
    }
    .card__info p {
        text-align: left;
    }
}

@media (max-width: 675px) {
     :root {
        --h1-size: 4rem;
    }
    .hidden {
        display: none;
    }
    .sitenav {
        position: absolute;
        top: 9rem;
        left: 0;
        text-align: center;
        width: 100%;
        height: 80vh;
        padding-top: 4rem;
        background: #fff;
    }
    .sitenav__item:not(:last-child) {
        margin: 0;
        margin-bottom: 3.2rem;
    }
    .sitenav__list {
        flex-direction: column;
    }
    .sitenav__link {
        font-size: var(--h4-size);
        font-family: var(--secondary-font);
        text-transform: capitalize;
        color: var(--secondary-color);
    }
    .hero__wrapper {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-bg.jpg');
        background-position: center right 40%;
        text-align: center;
        padding: 10rem 2.4rem;
    }
    .hero__info {
        width: 100%;
    }
    .hero__text-wrapper {
        width: 100%;
    }
    .toggele-btn {
        display: block;
    }
    .collection__card {
        flex-direction: column;
    }
    .card__info h3 {
        text-align: center;
    }
    .card__info p {
        text-align: center;
    }
}