    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
     :root {
        --primary-color: #0e8784;
        --secondary-color: #333d4b;
        --pale-orange-color: #fdd6ba;
        --ligh-cream-bg-color: #fefcf7;
        --gray-color: #83888f;
        --main-btn-hover-color: #66d2cf;
        --btn-disabled-color: #e2dedb;
        --option-hover-color: #fdd6ba;
        --option-default-color: #f4f1eb;
        /* fonts */
        --main-font: 'Barlow', 'Arial', sans-serif;
        --secondary-font: 'Fraunces 9pt', serif;
        /* --big-title-size:  */
        --big-title-size: 15rem;
        --big-title-line: 0.48;
        /* H1 */
        --h1-size: 7.2rem;
        --h1-line: 1;
        /* H2 */
        --h2-size: 4rem;
        --h2-line: 1.2;
        /* H3 */
        --h3-size: 3.2rem;
        --h3-line: 1.12;
        /* H4 */
        --h4-size: 2.4rem;
        --h4-line: 1.33;
        --body-font-size: 1.6rem;
        --body-line: 1.62;
        /* nav */
        --nav-size: 1.2rem;
        --nav-line: 1.25;
    }
    
    html {
        height: 100%;
        font-size: 62.5%;
    }
    
    ul,
    li {
        list-style-type: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    body {
        font-family: var(--main-font), 'Arial', sans-serif;
        font-size: var(--body-font-size);
        line-height: var(--body-line);
        color: var(--secondary-color);
        background-color: var(--ligh-cream-bg-color);
        display: flex;
        flex-direction: column;
    }
    
    .container {
        width: 100%;
        max-width: 1380px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .btn {
        color: var(--ligh-cream-bg-color);
        font-size: 1.8rem;
        line-height: 1.39;
        font-family: var(--secondary-font);
        font-weight: 900;
        padding: 1.5rem 3.1rem;
        border-radius: 6px;
        background: var(--primary-color);
        display: inline-block;
    }
    /* HEADER */
    
    .header {
        padding-top: 4.4rem;
        padding-bottom: 4.4rem;
    }
    
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .sitenav__list {
        display: flex;
    }
    
    .sitenav__item:not(:last-child) {
        margin-right: 3.3rem;
    }
    
    .sitenav__link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: var(--nav-size);
        line-height: var(--nav-line);
        color: var(--gray-color);
    }
    
    .sitenav__link:hover {
        color: var(--secondary-color);
    }
    
    .toggele-btn {
        display: none;
        background-color: transparent;
        border: 0;
    }
    
    .toggle-btn__image {
        width: 15px;
        height: 15px;
    }
    /* MAIN */
    
    .main {
        flex-grow: 1;
    }
    
    .hero {}
    
    .hero__wrapper {
        background: url('../images/hero-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 11.6rem 8.5rem;
        border-radius: 10px;
    }
    
    .hero__container {
        margin-bottom: 13.6rem;
    }
    
    .hero__info {
        width: 493px;
    }
    
    .hero__title {
        color: var(--ligh-cream-bg-color);
        font-family: var(--secondary-font);
        font-size: var(--h1-size);
        line-height: var(--h1-line);
        margin-bottom: 3.2rem;
    }
    
    .hero__text-wrapper {
        width: 440px;
    }
    
    .hero__text {
        color: var(--ligh-cream-bg-color);
        margin-bottom: 5.6rem;
    }
    
    .hero__btn:hover {
        background-color: var(--main-btn-hover-color);
    }
    
    .collection {
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
        background-image: url(../images/png/collection_bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center -15px;
        margin-bottom: 180px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        gap: 30px;
        padding: 0 6rem;
        padding-top: 126px;
    }
    
    .collection__card {
        /* margin-top: 126px; */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    
    .collection__img {
        /* margin-left: 2.5rem; */
        height: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card__info h3 {
        margin-top: 72px;
        margin-bottom: 24px;
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 900;
        font-size: 2.4rem;
        line-height: 3.2rem;
        text-align: center;
        color: var(--secondary-color);
    }
    
    .card__info p {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        line-height: 2.6rem;
        text-align: center;
        color: var(--secondary-color);
    }
    /* choose section */
    
    .choose {
        background-image: url(../images/png/choose_bg.png);
        background-size: 100% 65%;
        background-repeat: no-repeat;
        padding: 120px 120px 150px;
        border-radius: 1rem;
    }
    
    .choose__tite {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 85px;
    }
    
    .choose__tite h2 {
        margin-bottom: 32px;
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 900;
        font-size: 4rem;
        line-height: 4.8rem;
        text-align: center;
        color: var(--ligh-cream-bg-color);
    }
    
    .choose__tite p {
        font-family: var(--primary-color);
        font-style: normal;
        font-weight: 400;
        line-height: 2.6rem;
        text-align: center;
        color: var(--ligh-cream-bg-color);
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    
    .choose__wrapper {
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 3rem;
        /* left: 7%; */
    }
    
    .choose__cards {
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 48px;
    }
    
    .card_img {
        height: 100px;
        margin-bottom: 55px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .choose__cards h3 {
        margin-bottom: 24px;
        font-family: var(--secondary-font);
        font-weight: 900;
        font-size: var(--h4-size);
        line-height: 3.2rem;
        text-align: center;
        color: var(--ligh-cream-bg-color);
    }
    
    .choose__cards p {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        line-height: 2.6rem;
        text-align: center;
        color: var(--ligh-cream-bg-color);
    }
    /* works section */
    
    .works__title {
        margin-left: 7%;
        margin-bottom: 80px;
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 900;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: var(--gray-color);
    }
    
    .works__line_div {
        margin-left: 7%;
        margin-bottom: 67px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(253, 214, 186, 1);
        height: 3px;
        width: 66%;
    }
    
    .works__circle {
        width: 30px;
        height: 30px;
        border: 1px solid rgba(14, 135, 132, 1);
        border-radius: 50%;
        background-color: #fff;
    }
    
    .works__cards_wrapper {
        margin-left: 7%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
        gap: 1rem;
    }
    
    .works__cards h1 {
        margin-bottom: 38px;
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 900;
        font-size: 7.2rem;
        line-height: 1;
        color: #FDD6BA;
    }
    
    .works__cards h2 {
        width: 260px;
        margin-bottom: 43px;
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 900;
        font-size: 3.2rem;
        line-height: 3.6rem;
        color: var(--secondary-color);
    }
    
    .works__cards p {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        line-height: 2.6rem;
        /* padding-right: 1rem;  */
        color: var(--secondary-font);
    }
    
    .works__btn {
        margin-left: 7%;
        margin-top: 65px;
        margin-bottom: 200px;
    }
    /* FOOTER */
    /* footer */
    
    footer {
        background-color: rgba(44, 52, 62, 1);
    }
    
    .footer__div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 85px;
    }
    
    .site_logo_footer:hover {
        opacity: 0.7;
    }
    
    .site_logo_footer:active {
        opacity: 0.4;
    }
    
    .footer_nav_list {
        margin-left: -200px;
        display: flex;
        gap: 32px;
    }
    
    .footer_nav a {
        font-family: var(--main-font);
        color: var(--ligh-cream-bg-color);
    }
    
    .footer_nav a:hover {
        opacity: 0.6;
    }
    
    .footer_nav a:active {
        color: #66d2cf;
        opacity: 0.4;
    }
    
    .socials {
        display: flex;
        justify-content: space-between;
        gap: 25px;
    }
    
    .socials a:hover svg path {
        fill: rgb(250, 206, 175);
    }
    
    .socials a:active svg path {
        fill: rgb(134, 63, 11);
        opacity: 0.6;
    }
    
    .author h2 {
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        background-color: rgba(15, 28, 48, 0.952);
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 2;
        /* identical to box height, or 120% */
        text-align: center;
        color: #FEFCF7;
    }
    
    .a_link {
        color: rgb(129, 85, 85);
    }
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and ( min--moz-device-pixel-ratio: 2),
    only screen and ( -o-min-device-pixel-ratio: 2/1),
    only screen and ( min-device-pixel-ratio: 2),
    only screen and ( min-resolution: 192dpi),
    only screen and ( min-resolution: 2dppx) {
        .hero__container {
            background-image: url(../images/png/hero@2x.png);
        }
        .collection {
            background-image: url(../images/png/collection_bg@2x.png);
        }
        .choose {
            background-image: url(../images/png/choose_bg@2x.png);
        }
    }
    /* MEDIA */
    
    @media (max-width: 1330px) {
        .collection__img {
            margin-left: 0rem;
        }
    }
    
    @media (max-width: 1299px) {
        .choose {
            background-size: 100% 45%;
        }
        .footer_nav_list {
            margin-left: -100px;
        }
    }
    
    @media (max-width: 969px) {
        .choose {
            background-size: 100% 60%;
        }
        .choose__cards {
            flex-direction: row;
            align-items: center;
            gap: 55px;
            padding: 41px 48px 41px 70px;
        }
        .card_img {
            height: 100%;
            margin-bottom: 60px;
        }
        .choose__cards h3 {
            text-align: left;
        }
        .choose__cards p {
            text-align: left;
        }
        .footer__div {
            flex-direction: column;
        }
        .site_logo_footer {
            margin-bottom: 3.3rem;
        }
        .footer_nav_list {
            margin-left: 0px;
            margin-bottom: 6.5rem;
        }
    }
    
    @media (max-width:840px) {
        .works__title {
            margin-left: 0;
        }
        .works__cards_wrapper {
            margin-left: 0;
        }
        .works__line_div {
            visibility: hidden;
        }
        .works__btn {
            margin-left: 0;
        }
    }
    
    @media (max-width: 768px) {
         :root {
            --h1-size: 4.8rem;
        }
        .container {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
        .hero__wrapper {
            padding: 10.3rem 5.8rem;
        }
        .hero__info {
            width: 398px;
        }
        .collection {
            grid-template-columns: auto;
            place-content: center;
        }
        .collection__card {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            /* width: 573px; */
            margin-bottom: 5rem;
            /* margin-left: -5rem; */
        }
        .card__info {
            margin-top: -7rem;
            width: 282px;
        }
        .collection__img {
            margin-left: 2rem;
        }
        .card__info h3 {
            text-align: left;
        }
        .card__info p {
            text-align: left;
        }
        .choose {
            padding: 70px 50px;
        }
        .choose__tite h2 {
            margin-bottom: 24px;
            font-size: 3.2rem;
            line-height: 4.8rem;
        }
    }
    
    @media (max-width:730px) {
        .works__section_title {
            display: flex;
            justify-content: center;
        }
        .works__cards_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .works__cards h1 {
            text-align: center;
            margin-bottom: 2.4rem;
        }
        .works__cards h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 2.4rem;
        }
        .works__cards p {
            text-align: center;
            margin-bottom: 5.6rem;
        }
        .works__btn {
            text-align: center;
        }
    }
    
    @media (max-width: 675px) {
         :root {
            --h1-size: 4rem;
        }
        .hidden {
            display: none;
        }
        .sitenav {
            position: absolute;
            top: 9rem;
            left: 0;
            text-align: center;
            width: 100%;
            height: 80vh;
            padding-top: 4rem;
            background: #fff;
        }
        .sitenav__item:not(:last-child) {
            margin: 0;
            margin-bottom: 3.2rem;
        }
        .sitenav__list {
            flex-direction: column;
        }
        .sitenav__link {
            font-size: var(--h4-size);
            font-family: var(--secondary-font);
            text-transform: capitalize;
            color: var(--secondary-color);
        }
        .hero__wrapper {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-bg.jpg');
            background-position: center right 40%;
            text-align: center;
            padding: 10rem 2.4rem;
        }
        .hero__info {
            width: 100%;
        }
        .hero__text-wrapper {
            width: 100%;
        }
        .toggele-btn {
            display: block;
        }
        .collection__card {
            flex-direction: column;
        }
        .card__info h3 {
            text-align: center;
        }
        .card__info p {
            text-align: center;
        }
        .author h2 {
            font-size: 20px;
            line-height: 2;
        }
    }
    
    @media (max-width: 570px) {
        .choose {
            padding: 70px 20px;
        }
        .choose__tite h2 {
            margin-bottom: 24px;
            font-size: 2.4rem;
            line-height: 1em;
        }
        .choose__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .choose__cards {
            flex-direction: column;
            align-items: center;
            gap: 55px;
            padding: 30px;
        }
        .card_img {
            height: 100%;
            margin-bottom: 10px;
        }
        .choose__cards h3 {
            text-align: center;
        }
        .choose__cards p {
            text-align: center;
        }
        .footer_nav_list {
            flex-direction: column;
            text-align: center;
        }
        .footer_nav a {
            margin-bottom: 2.4rem;
        }
        .author h2 {
            font-size: 15px;
            line-height: 2;
        }
    }