*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #fefcf7;
    background: #fffff1;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    transition: 0.3s;
    transition-property: color, background;
}

ul,
ol {
    list-style: none;
}

:root {
    /* fonts */
    --font-barlow: "Barlow";
    --font-fraunces: "Fraunces 9pt";
    /* font colors */
    --font-color: rgba(254, 252, 247, 1);
    --font-color-black: rgba(51, 61, 75, 1);
    --nav-link-color: rgba(131, 136, 143, 1);
    --title-white-color: rgba(254, 252, 247, 1);
    /* --title-blck-color: rgba(51, 61, 75, 1); */
    /* font size */
    --font-size-info: 1.6rem;
    /* btn */
    --btn-bg-hover: rgba(102, 210, 207, 1);
    --btn-bg: rgba(14, 135, 132, 1);
    /* bg colors */
    --bg-black: rgba(44, 52, 62, 1);
    --icon-color: rgba(253, 214, 186, 1);
}

.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 1.5rem 3.1rem;
    background-color: var(--btn-bg);
    border-radius: 6px;
    color: var(--font-color);
    border: 1px solid var(--btn-bg);
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}

.btn:active {
    opacity: 0.4;
}

img {
    display: flex;
}


/* header */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.site_logo_img:hover {
    opacity: 0.8;
}

.site_logo_img:active {
    opacity: 0.4;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.header__list_item {
    margin-left: 32px;
}

.header__list_item a {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: var(--nav-link-color);
}

.header__list_item a:hover {
    color: var(--font-color-black);
}

.header__list_item a:active {
    color: rgb(36, 182, 0);
}


/* hero section */

.hero__container {
    background-image: url(../images/png/subscribe__hero.png);
    /* background-position: cover; */
    background-repeat: no-repeat;
    padding-top: 13.5rem;
    padding-left: 8.5rem;
    padding-bottom: 13.5rem;
    border-radius: 1rem;
    margin-bottom: 155px;
}

.hero__wrapper {
    width: 495px;
}

.hero__wrapper h1 {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 7.2rem;
    line-height: 1;
    color: #FEFCF7;
    margin-bottom: 3.2rem;
}

.hero__wrapper p {
    width: 445px;
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-info);
    line-height: 2.6rem;
    color: var(--font-color);
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 55px;
}


/* works section */

.works {
    background-color: var(--bg-black);
    border-radius: 1rem;
    padding-top: 12.8rem;
}

.works_line_wrapper {
    margin-left: 7%;
    /* padding-left: 1.5rem;
    padding-right: 1.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79rem;
}

.works__line_div {
    /* margin-left: 1.5rem; */
    /* width: 76rem; */
    margin-top: 12px;
    margin-left: -36.5rem;
    width: 76rem;
    height: 2px;
    background-color: rgba(253, 214, 186, 1);
}

.circle {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 2px solid rgba(14, 135, 132, 1);
}

.circle:nth-child(1) {
    /* margin-left: -1.5rem; */
}

.circle:nth-child(2) {
    align-items: center;
}

.circle:nth-child(3) {
    /* margin-left: 1.5rem; */
}


/* .circle:nth-child(3) {
    margin-left: 4rem;
} */

.works__cards_wrapper {
    margin-left: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 290px));
    gap: 90px;
    margin-bottom: 16.8rem;
    /* place-items: center;     */
}

.works__cards h1 {
    margin-bottom: 38px;
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 7.2rem;
    line-height: 1;
    color: #FDD6BA;
}

.works__cards h2 {
    width: 260px;
    margin-bottom: 43px;
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: var(--font-color);
}

.works__cards p {
    width: 28.5rem;
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    line-height: 1.62;
    color: #FEFCF7;
    margin-bottom: 10rem;
}


/* options_main_div section */

.options_main_div {
    /* background-color: rgb(204, 160, 160); */
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16.8rem;
}

.option_left_div {
    margin-right: 12.5rem;
}

.option__left_list_item {
    display: flex;
}

.option__left_list_item span {
    font-family: var(--font-fraunces);
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 1.33;
    color: rgba(131, 136, 143, 1);
    opacity: 0.6;
    margin-right: 2.45rem;
}

.option__left_list_item span:hover {
    color: rgba(14, 135, 132, 1);
}

.option__left_list_item a {
    font-family: var(--font-fraunces);
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 1.33;
    opacity: 0.5;
    color: rgb(108, 109, 112);
}

.option__left_list_item a:hover {
    color: rgba(51, 61, 75, 1);
    opacity: 1;
}

.option__left_list_item a:active {
    color: rgba(51, 61, 75, 1);
    opacity: 0.7;
}

.list_breaker_line {
    width: 25.5rem;
    height: 2px;
    background-color: rgba(131, 136, 143, 0.25);
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.option_right_div {
    display: flex;
    flex-direction: column;
}

.option_right_div button {
    /* width: 73rem; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 0px;
    margin-bottom: 5.6rem;
}

.option_right_div button:not(:first-child) {
    margin-top: 9.8rem;
}

.option_right_div button p {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.2;
    color: #83888F;
}

.option__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 22.8rem);
    gap: 2.3rem;
}

.option__list_item {
    width: 22.8rem;
    height: 25rem;
    background: #F4F1EB;
    border-radius: 8px;
    padding: 3.2rem 2.8rem;
}

.option__list_item:hover {
    background-color: rgba(253, 214, 186, 1);
}

.option__list_item:active {
    background: rgba(14, 135, 132, 1);
    /* color: #FFFFFF;   */
}

.option__list_item:active h3 {
    color: rgba(254, 252, 247, 1);
}

.option__list_item:active p {
    color: rgba(254, 252, 247, 1);
}

.option__list_item h3 {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 1.33;
    color: var(--bg-black);
    margin-bottom: 2.4rem;
}

.option__list_item p {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    line-height: 1.62;
    color: var(--font-color-black);
}

.option__right_bottom_div {
    margin-top: 8.4rem;
}

.option__right_div_info {
    background-color: var(--bg-black);
    padding: 2.7rem 6.4rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.option__right_div_info h3 {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    line-height: 1.62;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 0.8rem;
}

.option__right_div_info p {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 1.67;
    color: #FFFFFF;
}

.blue_text {
    color: rgba(14, 135, 132, 1);
}

.option_right_div_btn {
    display: flex;
    justify-content: right;
}


/* footer */

footer {
    background-color: var(--bg-black);
}

.footer__div {
    display: flex;
    justify-content: space-between;
    padding: 48px 85px;
}

.site_logo_footer:hover {
    opacity: 0.7;
}

.site_logo_footer:active {
    opacity: 0.4;
}

.footer_nav_list {
    margin-left: -250px;
}

.footer_nav a:hover {
    color: var(--font-color);
}

.footer_nav a:active {
    opacity: 0.5;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.socials a:hover svg path {
    fill: rgb(250, 206, 175);
}

.socials a:active svg path {
    fill: rgb(134, 63, 11);
    opacity: 0.6;
}

.author h2 {
    padding: 10px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(15, 28, 48, 0.952);
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 48px;
    /* identical to box height, or 120% */
    text-align: center;
    color: #FEFCF7;
}

.a_link {
    color: rgb(129, 85, 85);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    .hero__container {
        background-image: url(../images/png/subscribe__hero@2x.png);
    }
}